.header {
  display: flex;
  align-items: center;
  height: 50px;
  box-shadow: 0 0 9px gray;
  margin-bottom: 12px;
  gap: 10px;
  background-color: rgb(245, 250, 255);
}
.logincontainer {
  margin: 100px auto;
  width: 400px;
  height: 500px;
  border-radius: 8px;
  box-shadow: 0 0 8px gray;
  background-color: rgba(241, 241, 241, 0.719);
  padding: 15px;
  gap: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.formcontainer{
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logoimage {
  width: 100px;
}

#outlined-basic {
  width: 300px;
}
#outlined-adornment-password{
  width: 265px;
}

.homecontainer {
  margin: auto;
  min-width: 300px;
  max-width: 1200px;
  /* border: 1px solid gray; */
  padding: 10px;
}

hr {
  border-bottom: 1px solid gray;
}